@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-black: 61, 59, 64;
  --color-blue: 82, 92, 235;
  --color-grey: 191, 207, 231;
  --color-pink: 248, 237, 255;
}


@layer base {
  :root {
    --color-white: 255, 255, 255;
    --color-black: 34, 40, 49;
    --color-black-1: 49, 54, 63;
    --color-black-2: 99, 111, 132;
    --color-blue: 82, 92, 235;
    --color-navy: 71, 79, 122;
    --color-grey: 238, 238, 238;
    --color-pink: 248, 237, 255;
    --color-teal: 118, 171, 174;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: rgb(var(--color-black-1))
}


.Card {
  box-shadow: -30px 30px 15px black;
}
